@import "tailwindcss";
@import "./responsive.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
}
